@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
  margin-top: 50px;
  font-size: 40pt;
  background: -webkit-linear-gradient(rgb(39, 35, 88), #211a96);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  


}

#loginTitle{

  font-size: 60pt;
  animation: pulse 2s linear infinite;

}

.Auth{
  box-shadow: 0 0 100px white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 100px;
  transition: 2s;
  
}

 

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.UsernameForm{

  margin-top: 80%;
  
  
  
}
body {
  background: hsl(259, 53%, 6%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background:  hsl(259, 53%, 6%);
  border-radius:  20px;
  
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  
}
.todoTransition-appear{
  opacity: 0
}

.todoTransition-appear-active{
  
  transition: opacity 200ms ease-in;

}


.todoTransition-enter{
opacity:0;
transition: opacity 200 ms ease-in;
}

.todoTransition-enter-done{
  opacity:1
  }

.todoTransition-exit {
  
  transition: opacity 5000ms ease-out;
  
}

.todoTransition-exit-active{
  transition: opacity 5000ms ease-out;
  opacity: 0;
}
.todoTransition-exit-done {
  
 
  opacity: 0;
  
}


.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.dragActive {
  box-shadow: 0 0 50px white;
  border-radius:  20px;
  padding: 50px;
  transition: 1s
}

.dragOver{
  box-shadow: 0 0 0px white;
  border-radius:  20px;
  padding: 50px;
  transition: 1s;

  animation: dragOver 05s ease-out
}



.todo-input {
  outline: none;
  background-image: linear-gradient(90deg, rgba(93,12,255,1) 30%,
  #0707ac 100%
 );

  border-radius:10px;
  border: 1px solid black;

  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fffbfb;
  transition:2s
}

.todo-input:hover{
  box-shadow: 0 0 40px white
}



.fadeUp{
  opacity: 0;
  
  animation: fadeUp 0.5s ease forwards;
  transform: translateY(100px)
}

@keyFrames fadeUp{

  to {
    opacity: 1;
    transform: translateY(0)
  }
}


.todo-btn {
  background: #0707ac;
  background-image: linear-gradient(90deg,
  #0707ac 30%, rgb(46, 25, 95) 100%
 );
  margin: 10px;
  border-radius: 5px;
  color: #ffffff;
  border: 0.1rem black;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  cursor: pointer;
  

}


.todo-btn:hover{
  transform:scale(1.02);
  box-shadow: 0  0 10px white;
}

.Todo:hover{
 
  transform: scale(1.03);
  box-shadow: 0 0 20px white;
}


.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: 1s;
  
}



.Todo:nth-child(n+1){
  background: linear-gradient(
  90deg,
  rgb(42, 2, 121) 0%,
  rgb(143, 124, 195) 100%
  )  ;
 transition: 1s;
 
  
}


.Todo:nth-child(2n+1){
  background: linear-gradient(
  90deg,
  rgb(0, 0, 0) 0%,
  rgb(94, 52, 234) 100%
  ) ;
  transition: 1s;
  
}


.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 