@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
  margin-top: 50px;
  font-size: 40pt;
  background: -webkit-linear-gradient(rgb(39, 35, 88), #211a96);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;


}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(259, 53%, 6%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background:  hsl(259, 53%, 6%);
  border-radius:  20px;
  
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background-image: linear-gradient(90deg, rgba(93,12,255,1) 30%,
  #0707ac 100%
 );

  border-radius:10px;
  border: 1px solid black;

  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fffbfb;
}

.todo-input::placeholder {
  color: #fbfbfb;
}

.todo-btn {
  background: #0707ac;
  background-image: linear-gradient(90deg,
  #0707ac 30%, rgb(46, 25, 95) 100%
 );
  margin: 10px;
  border-radius: 5px;
  color: #ffffff;
  border: 0.1rem black;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.Todo:nth-child(4n ){
  background: linear-gradient(
  90deg,
  rgb(161, 219, 160) 0%,
  rgb(40, 147, 34) 100%
  )
}
.Todo:nth-child(4n+1){
  background: linear-gradient(
  90deg,
  rgba(93,12,255,1) 0%,
  rgba(155,0,250,1) 100%
  )
}

.Todo:nth-child(4n+2){
  background: linear-gradient(
  90deg,
  rgb(133, 28, 79) 0%,
  rgb(186, 102, 127) 100%
  )
}

.Todo:nth-child(4n+3){
  background: linear-gradient(
  90deg,
  rgb(187, 100, 6) 0%,
  rgb(234, 110, 52) 100%
  )
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 